@viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-0-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

header h1 {
  margin-bottom: 0;
  margin-top: .85rem;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.125rem;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 38em) {

  header h1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
  }

  h2 {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul li {
  padding: .5em 1em 1em .5em;
}

@media only screen and (min-width: 38em) {

  ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }
}

a {
  color: #3783a3;
  font-size: 1.125rem;
}

header img {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

hr {
  color: #e2e2e2;
  margin-top: 1rem;
}

header hr {
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

main hr {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

main h1 {
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

main p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0;
  margin: 2.5rem;
  margin-top: .7rem;
  margin-bottom: 0;
}

section {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
}

article figure {
  padding-top: .3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  font-size: 1rem;
}

figcaption p {
  margin-bottom: 2.1rem;
}

figcaption a {
  font-size: 1rem;
  text-decoration: none;
  border-style: solid;
  border-radius: .3rem;
  padding: .6rem;
}

footer {
  font-size: .9rem;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
